<!-- include header -->
<%- include('include/_header')%>
    <!-- include header -->

    <!--Main Site-->
    <section id="projects-section" class="container mt-5 pt-5">
        <div class="row mt-5">
            <div class="col-sm-12 text-center">
                <h3>Our Creative Team</h3>
            </div>
        </div>
        <div class="row work-row my-5">
            <div class="col-xl-3 col-md-3 mb-3"></div>
            <div class="col-xl-3 col-md-3 mb-3">
                <div class="project-card card border-dark text-white" style="background-color:#004f9e">
                    <img src="/img/avatar-guy.png" class="card-img-top" alt="Omnifood Project">
                    <div class="card-body">
                        <div class="card-body-inner d-flex">
                            <h5 class="card-title">Nilesh Kawar</h5>
                            <a href="https://github.com/nilesh-kawar" class="ml-auto text-white" target="_blank"><i
                                    class="fab fa-github fa-lg"></i></a>
                        </div>
                        <span class="badge badge-light">Front-End</span>
                        <span class="badge badge-light">Back-End</span>
                        <hr>
                        <p class="card-text">Roll Number: 59 <br> MCA 2021-23</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-3 mb-3">
                <div class="project-card card border-dark text-white" style="background-color:#004f9e">
                    <img src="/img/avatar-girl.png" class="card-img-top" alt="Omnifood Project">
                    <div class="card-body">
                        <div class="card-body-inner d-flex">
                            <h5 class="card-title">Khushi Kaushik</h5>
                            <a href="https://github.com/" class="ml-auto text-white" target="_blank"><i
                                    class="fab fa-github fa-lg"></i></a>
                        </div>
                        <span class="badge badge-light">Front-End</span>
                        <span class="badge badge-light">Documentation</span>
                        <hr>
                        <p class="card-text">Roll Number: 58 <br> MCA 2021-23</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-3 mb-3"></div>

        </div>
    </section>
    <!--/Main Site-->

    <!-- include footer -->
    <%- include('include/_footer')%>
        <!-- include footer -->