<!-- include header -->
<%- include('include/_header')%>
  <!-- include header -->

  <!-- Main Site -->

  <!-- HERO-SECTION -->
  <section id="hero-section">
    <div class="bg-text">
      <img src="/img/logo.webp" class="img-fluid" style="height: 170px;" />
      <h4>The Placement Cell</h4> <br>
      <h2>Thakur Institute of Management Studies, Career Development and Research (TIMSCDR)</h2><br>
      <h5>Affiliated to The University of Mumbai</h5>
    </div>
    <br /><br />
  </section>
  <!-- /HOME SECTION -->

  <!-- ABOUT SECTION -->
  <!-- <section id="about-section">
    <div class="container-fluid mt-5 mb-5">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-12">
          <img src="/img/timscdr.webp" class="img-fluid" />
        </div>
        <div class="col-lg-6 col-md-6 col-12">
          <h1 class="text-center" style="color: coral">Welcome To TIMSCDR</h1>
          <hr />
          <p style="font-family: 'Josefin Sans', sans-serif">
            Thakur Institute of Management Studies, Career Development and Research (TIMSCDR) was established in the year 2001, under aegis of Thakur Educational Trust of the Thakur Education Group, with a clear objective of providing quality technical education in tune with international standards and contemporary global requirements. TIMSCDR offers 2 years full time Post Graduate Degree of Master of Computer Applications (MCA). TIMSCDR is one of the top MCA Institute in the city of Mumbai and is approved by All India Council for Technical Education (AICTE), Directorate of Technical Education (DTE), Govt. of Maharashtra and is affiliated to University of Mumbai. <br>
            MCA Program at TIMSCDR is Accredited by National Board of Accreditation, New Delhi (For A.Y. 2019-2020 , 2020-2021 &  2021-2022 up to 30 June, 2022). The Institute is ISO 9001:2015 Certified.
            <br>
            Management’s commitment to excellence is reflected in the marvellous infrastructure that is comparable to the finest institution of its type in the country. The sprawling campus with lush green gardens, cafeteria, playgrounds, parking area, hostel accommodation, ensures right academic ambience essential for a centre of higher education.
          </p>
        </div>
      </div>
    </div>
  </section> -->
  <!-- /ABOUT SECTION -->

  <!-- /Main Site -->

  <!-- include footer -->
  <%- include('include/_footer')%>
    <!-- include footer -->